.mailing {
  @include media-min-max(768px, 1199px) {
    margin: 0px auto;
    margin-top: 96px;
  }

  @include media-max(767px) {
    width: 100%;
  }
}

.mailing__form {
  display: flex;
  @include media-max(1199px) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  @include media-min(1200px) {
    flex-direction: row;
    align-items: flex-end;
  }
}
.mailing__label {
  display: block;
  @include media-max(767px) {
    max-width: 450px;
    width: 100%;
  }

  @include media-min(1200px) {
    margin-right: 12px;
  }
}
.mailing__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
  @include media-min(1200px) {
    text-align: start;
  }
}
.mailing__input {
  height: 50px;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--bg-footer-color);
  padding-left: 16px;
  margin-bottom: 20px;
  outline: transparent;
  &::placeholder {
    padding-top: 15px;
    font-size: 16px;
    line-height: calc(20 / 16);
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }
  @include media-max(767px) {
    max-width: 450px;
    width: 100%;
  }

  @include media-min(768px) {
    width: 450px;
  }

  @include media-min(1200px) {
    margin-bottom: 0;
    width: 358px;
  }
}
.mailing__btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  border: 0px;
  transition-property: background-color;
  @extend %animation;
  &:hover {
    background-color: var(--button-color);
  }
  &:focus {
    background-color: var(--button-color);
  }
}
.mailing__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}
