.join {
  max-width: 206px;
  max-height: 80px;
  @include media-max(767px) {
    margin-bottom: 60px;
  }
  @include media-min(1200px) {
    margin-left: 70px;
    margin-right: 93px;
  }
}
.join__name {
  color: $primary-white-color;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  @include media-min(1200px) {
    text-align: start;
  }
}
.join__list {
  .join__link {
    &:hover {
      background-color: $accent-color;
    }
    &:focus {
      background-color: $accent-color;
    }
  }
}
.join__link {
  background: rgba(255, 255, 255, 0.1);
  @extend %flex-jc-ac;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  transition-property: background-color;
  @extend %animation;
}
.join__icon {
  fill: $primary-white-color;
}
