.footer {
  width: 100%;
  background-color: var(--bg-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
  .address__link-mail {
    color: var(--address-footer);
    transition-property: color;
    @extend %animation;
  }
  .address__link-tel {
    color: var(--address-footer);
    transition-property: color;
    @extend %animation;
  }
}
.footer__container {
  display: flex;
  @include media-max(767px) {
    align-items: center;
    flex-direction: column;
  }
  @include media-min-max(768px, 1199px) {
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
  @include media-min(1200px) {
    align-items: baseline;
  }
}

.footer__address {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    text-align: left;
  }
}

.footer__logo {
  font-family: 'Raleway';
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  margin-bottom: 20px;
  display: block;
  @include media-max(768px) {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

.footer__logo {
  .studio {
    color: var(--primary-white-color);
  }
}

.address__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-min(1200px) {
    align-items: baseline;
  }
}

.address__list {
  .link {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
address {
  .link {
    &:hover {
      color: var(--accent-color);
    }
    &:focus {
      color: var(--accent-color);
    }
  }
}
.addres__link-google {
  color: var(--primary-white-color);
  transition-property: color;
  @extend %animation;
}
.address__item {
  margin-bottom: 9px;
}
.address__item-tel {
  margin-bottom: 0;
}
