.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
  @include media-max(767px) {
    display: flex;
    position: relative;
    justify-content: start;
  }
}

.header__container {
  display: flex;
  align-items: baseline;
  @include media-max(767px) {
    margin-left: 0;
  }

  @include media-min-max(768px, 1199px) {
    align-items: center;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  span {
    color: var(--primary-black-color);
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  @include media-min-max(768px, 1199px) {
    margin-right: auto;
  }
}

.nav__list {
  gap: 50px;
  display: flex;
  align-items: center;
  @include media-max(767px) {
    display: none;
  }
}

.nav__list {
  .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    @extend %animation;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.nav__list {
  .link {
    &:hover {
      color: var(--accent-color);
    }
    &:focus {
      color: var(--accent-color);
    }
  }
}

.nav__item {
  position: relative;
}

.current {
  &::after {
    display: block;
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: -1px;
    @include media-max(767px) {
      display: none;
    }
  }
}

.header {
  .current {
    color: var(--accent-color);
  }
}

.contacts {
  @include media-max(767px) {
    display: none;
  }
}

.contacts__list {
  list-style: none;
  display: flex;
  gap: 30px;
  @include media-min-max(768px, 1199px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}

.link {
  &:hover {
    .contacts__icon {
      fill: currentColor;
    }
  }
  &:focus {
    .contacts__icon {
      fill: currentColor;
    }
  }
}
.contacts__link {
  .contacts__icon {
    fill: var(--title-color);
    margin-right: 10px;
    transition-property: fill;
    @extend %animation;
  }
}

.header__mail {
  margin-right: 50px;
  color: var(--title-color);
  @include media-min(768px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.header__tel {
  color: var(--title-color);
}

.contacts__link {
  display: flex;
  align-items: center;
}

.contacts__list {
  .link {
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    @extend %animation;
    &:hover {
      color: var(--accent-color);
    }
    &:focus {
      color: var(--accent-color);
    }
  }
}
