.team__contacts-list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  @include media-min(1200px) {
    padding-bottom: 30px;
  }
}

.team__contacts-link {
  @extend %flex-jc-ac;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  transition-property: background-color, border-radius;
  @extend %animation;
  &:hover {
    .team__contacts-icon {
      fill: $primary-white-color;
    }
    background-color: $accent-color;
    border-radius: 100%;
  }
  &:focus {
    .team__contacts-icon {
      fill: $primary-white-color;
    }
    background-color: $accent-color;
    border-radius: 100%;
  }
}
.team__contacts-icon {
  fill: $clients-color;
  transition-property: fill;
  @extend %animation;
}
