.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @include media-min(480px) {
    width: 480px;
  }
  @include media-min(768px) {
    width: 768px;
  }
  @include media-min(1200px) {
    width: 1200px;
  }
}
